.options {
  background-color: #fff;
  border-radius: 4px;
  list-style-type: none;
  padding: 0;

  position: absolute;
  top: 0;
  left: 0;
}

.options > li {
  padding: 10px 15px;
  min-width: 100px;
}

.options > li:hover {
  background-color: #181818;
  color: #fff;
  cursor: pointer;
}
